.headerContainer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  grid-row: 1 / 1;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  border: var(--element-border);
  border-radius: var(--element-border-radius);
  box-shadow: var(--element-shadow);
  background-color: var(--element-background-color);
}

.headerWithLogo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.headerWithLogo img {
  width: 30px;
  height: 30px;
}
.headerText {
  font-weight: 400;
}

.logoutButton {
  width: 100px;
  height: 30px;
  text-transform: uppercase;
}