.loginContainer {
  width: 50%;
  min-width: 300px;
  max-width: 700px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border: var(--element-border);
  border-radius: var(--element-border-radius);
  box-shadow: var(--element-shadow);
  background-color: var(--element-background-color);
  padding: 30px;
}

.loginHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.loginButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.loginButton {
  width: 100px;
  height: 30px;
  text-transform: uppercase;
}

.errorContainer {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 12px;
  font-weight: 400;
  color: var(--error-color);
}
