body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-background-color: rgba(0, 0, 0, 0.2);

  --element-background-color: white;
  --element-border: 2px solid black;
  --element-shadow: 2px 2px 2px 2px gray;
  --element-border-radius: 5px;

  --error-color: indianred;
}
